---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

span.art {
    font-weight: bolder;
}

span.art::after {
    content: ".";
}

span.artref {
    font-weight: bolder;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    font-weight: bolder;
    text-align: center;
}

td.underline {
  border-bottom: 2px solid black;
}

td.leftline {
  border-left: 2px solid black;
}

td.rightline {
  border-right: 2px solid black;
}

th.underline {
  border-bottom: 2px solid black;
}

th.leftline {
  border-left: 2px solid black;
}

th.rightline {
  border-right: 2px solid black;
}

tr.rowhover:hover {
    background-color: CornflowerBlue;
    opacity: 0.3;
}

div.bubblebox {
    border: 3px solid black;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
    background-color: rgba(255, 160, 122,0.4);
}

div.bubblebox_white {
    border: 3px solid black;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
}

div.proof {
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 30px;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
}

.spaced_list {
  line-height: 2.0;
}

.sc {
  font-variant: small-caps;
}

div {
  display: block;
  margin: auto;
  width: 100%;
}