---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

span.art {
    font-weight: bolder;
}

span.art::after {
    content: ".";
}

span.artref {
    font-weight: bolder;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td.underline {
  border-bottom: 2pt solid black;
}