---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

span.art {
    font-weight: bolder;
}

span.art::after {
    content: ".";
}

span.artref {
    font-weight: bolder;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    font-weight: bolder;
    text-align: center;
}

td.underline {
  border-bottom: 2px solid black;
}

td.leftline {
  border-left: 2px solid black;
}

td.rightline {
  border-right: 2px solid black;
}

tr.rowhover:hover {
    background-color: CornflowerBlue;
    opacity: 0.3;
}

div.bubblebox {
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    font-style: italic;
    background-color: rgba(211,211,211,0.3);
}